# This is a basic workflow to help you get started with Actions

name:  CI - Integration Test 

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Git checkout 
      uses: actions/checkout@v2

      # Install Node on the runner
    - name: Install Node JS ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
      # Runs a set of commands using the runners shell
    - name: Install Newman dependency
      run: npm install -g newman
           npm install -g newman-reporter-htmlextra

    - name: Run the API and Postman's tests
      run: |
       newman run ./Todoist/Tests/Backend/collections/Todoist_postman_collection.json' -e ./Todoist/Tests/Backend/envVariables/Todoist_postman_environment.json -r htmlextra --reporter-htmlextra-export ./Todoist/Tests/Backend/reports/reporteTodoistApi.html
     
    - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist-without-markdown
          path: |
            Todoist
            !Todoist/**/*.md

    - name: Archive coverage results
        uses: actions/upload-artifact@v2
        with:
          name: test-coverage-report
          path: Backend/reports/reporteTodoistApi.html


           
