# This is a basic workflow to help you get started with Actions

name:  CI - Integration Test 

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['16.x']
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Git checkout 
      uses: actions/checkout@v2

      # Install Node on the runner
    - name: Install Node JS ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
      # Runs a set of commands using the runners shell
    - name: Install Newman dependency
      run: npm install
           npm install -g newman-reporter-htmlextra

    - name: Run the API and Postman's tests
      run: npm run test

  # Make directory to upload the test results
    - name: Make Directory for results
      run: mkdir -p reporteTodoistApi

    - name: save new result 
      uses: actions/upload-artifact@v2
      with:
       name: my-artifact
       path: reporteTodoistApi.html
